/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}


.page.theme_light {
  --font-family: 'IBM Plex mono';
  --font-size: 18px;
  --font-weight: 400;
  --background-color: #FFF1F7;
  --accent-color: #FF8DCB;
  --main-text-color: #353430;
  --title-text-color: #FFC2E6;
  --subtitle-color: #353430;
  --focus-color: #353430;
  --button-hover: #32312D66;
  --background-image: url(../images/cover-image-light.png);
  --padding-hdr-footer: 20px
}

.theme_light .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

@media (prefers-color-scheme: light) {
  :root {
    --font-family: 'IBM Plex mono';
    --font-size: 18px;
    --font-weight: 400;
    --background-color: #FFF1F7;
    --accent-color: #FF8DCB;
    --main-text-color: #353430;
    --title-text-color: #FFC2E6;
    --subtitle-color: #353430;
    --focus-color: #353430;
    --button-hover: #32312D66;
    --background-image: url(../images/cover-image-light.png);
    --padding-hdr-footer: 20px    
    }

    .theme_light .visually-hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      overflow: hidden;
      clip: rect(0 0 0 0);
    }
}
