/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
 /* header start*/
.page {
 font-family: var(--font-family);
 font-size: var(--font-size);
 font-weight: var(--font-weight);
 background-color: var(--background-color);
 background-image: var(--background-image);
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 color: var(--main-text-color);
 background-attachment: fixed;
}

.text-shadow {
  text-shadow: 4px 4px 0 var(--accent-color)
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--background-color);
  line-height: 130%;
}

.header {
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  min-inline-size: 1024px;
  padding: var(--padding-hdr-footer);
}

.decorated-zone::before {
  position: absolute;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  inset-inline-end: 20px;
    inset-block-start: 20px;
}

.decorated-zone::after {
  position: absolute;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  inset-inline-start: 20px;
  inset-block-end: 20px;
}

.decoration-zone__element {
  position: absolute;
  display: block;
  top: 20px;
  right: 48px;
  color: var(--accent-color);
}

.decoration-zone__element::after {
  position: absolute;
  border-radius: 50%;
  content: '';
  width: 9px;
  height: 9px;
  top: 7px;
  left: 42px;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);;
}

.header__theme-menu{
  justify-self: center;
  align-self: start;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;

}

.header__theme-menu-item {
  list-style-type: none;
}

.header__theme-menu-button {
  background-color: transparent;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  color: var(--accent-color);
  border: none;
  padding: 0 13px;
  text-transform: lowercase;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--accent-color);
}

.header__title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  font-weight: 700;
  line-height: 82.5%;
  color: var(--title-text-color);
  margin-inline-start: -20px;
}

.header__description {
  max-inline-size: 491px;
  justify-self: end;
  font-weight: 700;
}

 /* header end*/

 /* main start*/

 /* section 1*/
 .main {
  padding: 60px 20px;
 }

 .section__margin-bottom {
  margin-block-end: 80px;
 }

 .section {
  display: grid;
  grid-template-columns: 315px 1fr;
  gap: 20px;
 }

 .section__title {
  font-weight: 700;
  font-size: var(--font-size);
  line-height: 130%;
  color: var(--accent-color)
 }

 .card {
  display: flex;
  flex-direction: column;
  gap: 20px;
 }

.card__subtitle {
  font-size: var(--font-size);
}

 .card__description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  line-height: 130%;
 } 

/* section 2*/

.section-concentration__title {
  max-width: 315px;
  margin-block-end: 20px;
}

.card__concentration {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  line-height: 130%;
}

.card__subtitle-margin-bottom {
  margin-block-end: 10px;
}

/* section 3*/

.card__subtitle-regular {
  font-weight: 400;
}


