/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
 /* header start*/
.page {
 font-family: var(--font-family);
 font-size: var(--font-size);
 font-weight: var(--font-weight);
 background-color: var(--background-color);
 background-image: var(--background-image);
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 color: var(--main-text-color);
 background-attachment: fixed;
}

.text-shadow {
  text-shadow: 4px 4px 0 var(--accent-color)
}

.text-link {
  text-decoration: none;
}

.text-link:hover {
  border-block-end: 1px solid var(--focus-color);
}

.text-link:focus {
  outline: none;
}

.text-link:focus-visible {
  outline: 1px solid var(--focus-color);
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--subtitle-color);
  line-height: 130%;
}

.header {
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  min-inline-size: 1024px;
  padding: var(--padding-hdr-footer);
}

.decorated-zone::before {
  position: absolute;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--focus-color);
  border-block-start: 1px solid var(--focus-color);
  inset-inline-end: 20px;
    inset-block-start: 20px;
}

.decorated-zone::after {
  position: absolute;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--focus-color);
  border-block-end: 1px solid var(--focus-color);
  inset-inline-start: 20px;
  inset-block-end: 20px;
}

.decoration-zone__element {
  position: absolute;
  display: block;
  top: 20px;
  right: 48px;
  color: var(--accent-color);
}

.decoration-zone__element::after {
  position: absolute;
  border-radius: 50%;
  content: '';
  width: 9px;
  height: 9px;
  top: 7px;
  left: 42px;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);;
}

.header__theme-menu{
  justify-self: center;
  align-self: start;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;

}

.header__theme-menu-item {
  list-style-type: none;
}

.header__theme-menu-button {
  background-color: transparent;
  font-family: var(--font-family);
  font-size: var(--font-family);
  font-weight: var(--font-weight);
  color: var(--accent-color);
  border: none;
  padding: 1px 13px;
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--focus-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--focus-color);
}

.header__title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  font-weight: 700;
  line-height: 82.5%;
  color: var(--title-text-color);
}

.header__title-margin {
  margin-inline-start: -20px;
}

.header__description {
  max-inline-size: 491px;
  justify-self: end;
  font-weight: 700;
}

 /* header end*/

 /* main start*/

 /* section 1*/
 .main {
  padding: 60px 20px;
 }

 .section__margin-bottom {
  margin-block-end: 80px;
 }

 .section {
  display: grid;
  grid-template-columns: 315px 1fr;
  gap: 20px;
 }

 .section__title {
  font-weight: 700;
  font-size: var(--font-size);
  line-height: 130%;
  color: var(--subtitle-color)
 }

 .card {
  display: flex;
  flex-direction: column;
  gap: 20px;
 }

.card__subtitle {
  font-size: var(--font-size);
}

 .card__description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  line-height: 130%;
 } 

/* section 2*/

.section-concentration__title {
  max-width: 315px;
  margin-block-end: 20px;
}

.card__concentration {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  line-height: 130%;
}

.card__subtitle-margin-bottom {
  margin-block-end: 10px;
}

/* section 3*/

.card__subtitle-regular {
  font-weight: 400;
}

/* section 4*/

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.gallery__card {
  display: block;
  object-position: center;
  object-fit: cover;
  width: 100%; 
  height: 100%;
}

.card__margin-bottom {
  margin-block-end: 20px;
}

.gallery__card-sunset {
  grid-column: span 2;
}

.gallery__card-ice {
  grid-row: span 2;
}

.gallery__card-tape {
  grid-row: 2 / span 2;
}

.gallery__card-books {
  grid-column: 2;
}

.gallery__card-sreet {
  grid-column: 2 / span 2;
}

/* main end*/

/* footer*/

.footer {
  display: flex;
  align-items: center; 
  justify-content: center;
  height: 100vh;
  position: relative;
  min-block-size: 768px;
  padding: var(--padding-hdr-footer)
}

.text-shadow__footer {
  text-shadow: 2px 2px 0 var(--accent-color);
}

/* media width <=768px*/

@media (width <=768px) {
  .header {
    min-inline-size: 768px;
  }
  .header__description {
    max-inline-size: 364px;
  }

  .header__theme-menu{
    justify-self: end;
    align-self: center;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .section {
    grid-template-columns: 236px 1fr;
  }

  .section-concentration__title {
    max-width: 236px;
  }

  .card__concentration {
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr;
}
}

/* media width <=375px*/

@media (width <=375px) {

  .decoration-zone__element {
    top: 10px;
    right: 39px;
  }


.decoration-zone__element::after {
  top: 8px;
  left: 43px;
}

  .decorated-zone::before {
    inset-inline-end: 10px;
      inset-block-start: 10px;
  }
  
  .decorated-zone::after {
    inset-inline-start: 10px;
    inset-block-end: 10px;
  }

  .header {
    padding: 10px;
    min-inline-size: 375px;
  }

  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header__title-margin {
    margin-inline-start: 0px;
  }

  .header__description {
    max-inline-size: 355px;
    justify-self: center;
  }

  /* main start*/

  .main {
    padding: 40px 10px;
  }
  
  .section {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
   }

   .section__margin-bottom {
    margin-block-end: 50px;
   }

    .section-concentration__title {
    max-width: 355px;
    margin-block-end: 20px;
  }

  .gallery {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card__margin-bottom {
  margin-block-end: 10px;
}

.footer {
  min-block-size: 668px;
}


}