/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --font-family: 'IBM Plex mono';
  --font-size: 18px;
  --font-weight: 400;
  --background-color: #000028;
  --accent-color: #FF0070;
  --main-text-color: #F1B2CE;
  --title-text-color: #DB00FF;
  --subtitle-color: #000028;
  --focus-color: #FF0070;
  --button-hover: #FF0070;
  --background-image: url(../images/cover-image-dark.png);
  --padding-hdr-footer: 20px;
}
 